*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
	overflow-x: hidden;
}
.header{
	min-height:100vh;
	width:100%;
	background-image:
	linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),
	url(images/amara.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
nav {
	padding:2% 6%;
    background: none;
}
.menu a {
	color: white;
    text-decoration: none;
	font-size:17px;
}
.menu{
    list-style-type: none;
}
.logo img{
    width:150px;
}
.item {
    padding: 10px;
}
/* Mobile menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu li a {
    display: block;
    padding: 15px 5px;
	align-items: center;
}
.toggle_menu {
    order: 1;
    font-size: 20px;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}

/* Language switch */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin-bottom: 10px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: attr(data-on);
	content: attr(data-on);
	height: 21px;
	width: 23px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	text-align: center;
	line-height: 20px;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
	content: attr(data-off);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

/* Desktop menu */
@media all and (min-width: 800px) {
    .menu {
		align-items: flex-start;
      	flex-wrap: nowrap;
    }
    .logo{
      	order: 0;
      	flex:1;
    }
	.item a::after{
		content:'';
		width:0%;
		height:3px;
		background:#ffb413;
		display:block;
		margin:auto;
		transition:0.5s;
	}
	.item a:hover::after{
		width:100%;
	}
    .item {
      	order: 1;
      	position: relative;
      	display: block;
      	width: auto;
    }
    .toggle_menu {
      	display: none;
    }
}
.text-box{
	width:100%;
	color:#fff;
	position:relative;
	margin-top:10%;
	text-align:center;
}
.text-box h1{
	font-size:62px;
}
.text-box p{
	margin:10px 0 40px;
	font-size:30px;
	color:#fff;
}
.loc-btn{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	border:2px solid #fff;
	padding:12px 34px;
	font-size:17px;
	background:transparent;
	position:relative;
	cursor:pointer;
}
.loc-btn:hover{
	border:2px solid #ffb413;
	background:#ffb413;
	transition:0.7s;
}
@media all and (max-width:800px){
	.text-box{
		z-index:1;
	}
	.text-box h1{
	font-size:20px;
	}
}
.info{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:50px;
}
h1{
	font-size:36px;
}
.info p{
	font-size:20px;
}
p{
	color:rgb(61, 61, 61);
	font-size:18px;
	padding:10px;
}
.line{
	display: block;
    height: 4px;
	width:50%;
    border: 0;
    border-top: 4px solid #ffb413;
    margin: auto;
}
.facts .row{
	margin-top:50px;
}
.row{
	margin-top:3%;
	display:flex;
	justify-content:space-between;
	width:100%;
}
.row .col{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:10px;
	padding:10px 12px;
	transition:0.5s;
}
h3{
	text-align:center;
	font-size:20px;
	font-weight:600;
	margin:10px 0;
}
.col:hover{
	box-shadow:0 0 40px 0px #ffb413;
}
@media(max-width: 800px){
	.row{
		flex-direction:column;
	}
	.col:hover{
		box-shadow:0 0 0 0 #ffb413;
	}
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	padding: 0px;
	border-radius: 50%;
	background-color: #ffb413;
	cursor: pointer;
}
/*---------autor----------*/
.sub-header1{
	min-height:50vh;
	width:100%;
	background-image:
	linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),
	url(images/autor_banner.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.autor h1{
	font-size:50px;
}
.autor{
	width:80%;
	margin:auto;
	padding-top:20px;
	text-align:center;
	font-size:18px;
}
/*---------atractii----------*/
.sub-header2{
	min-height:100vh;
	width:100%;
	background-image:
	linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),
	url(images/atractii-banner.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.content{
	width:80%;
	margin:auto;
	padding-top:80px;
	padding-bottom:80px;
}
.vert{
	display: flex;
    justify-content: center;
    align-items: center;
}
.col2{
	flex-basis:48%;
	padding:30px;
	padding-top:0;
	text-align:center;
}
.col2 img{
	width:100%;
}
.org-btn{
	border:2px solid #ffb413;
	background:transparent;
	color:black;
}
/*---------cazare----------*/
.sub-header3{
	min-height:100vh;
	width:100%;
	background-image:
	linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),
	url(images/cazare-banner.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.hoteluri{
	width:80%;
	margin:auto;
	padding-top:50px;
	text-align:center;
}
.hotel-col{
	flex-basis:32%;
	border-radius:10px;
	margin-bottom:30px;
	position:relative;
	overflow:hidden;
}
.hotel-col img{
	width:100%;
	height:100%;
}
.layer{
	background:transparent;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s;
}
.layer h3{
	font-size:25px;
	color:black;
	font-weight:bold;
}
.layer:hover{
	background:#ffb413;
	opacity:0.45;
	cursor:pointer;
}
/*---------istoric----------*/
.sub-header4{
	min-height:100vh;
	width:100%;
	background-image:
	linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),
	url(images/istoric-banner.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: red;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
/* Container around content */
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}  
/* The circles on the timeline */
.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
/* Place the container to the left */
.left {
	left: 0;
}
/* Place the container to the right */
.right {
	left: 50%;
}  
/* Add arrows to the left container (pointing right) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent rgb(253, 201, 146);
}  
/* Add arrows to the right container (pointing left) */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent rgb(253, 201, 146) transparent transparent;
}  
/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}  
/* The actual content */
.content1 {
	padding: 20px 30px;
	background-color: rgb(253, 201, 146);
	position: relative;
	border-radius: 6px;
}  
@media screen and (max-width: 800px) {
	/* Place the timelime to the left */
	.timeline::after {
	left: 31px;
	}	
	/* Full-width containers */
	.container {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
	}
	/* Make sure that all arrows are pointing leftwards */
	.container::before {
	left: 60px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent rgb(253, 201, 146) transparent transparent;
	}
	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
	left: 15px;
	}
	/* Make all right containers behave like the left ones */
	.right {
	left: 0%;
	}
  }
  /*---------conducere----------*/
.sub-header5{
	min-height:100vh;
	width:100%;
	background-image:
	linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),
	url(images/conducere-banner.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
}
.conducere{
  margin-top: 60px;
  text-align: center;
  
}
.lista_membrii{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.membru{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}
.membru_img{
  width: 170px;
  height: 170px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
.membru_img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
